html, body {
    height: 100% !important;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f6f2f2' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

ul {
    list-style-type: none;
}

.record-result {
    width: auto;
}

.form-height {
    height: 750px;
}

.form-btn {
    width: 140px;
}

form {
    width: 450px;
}

img {
    width:300px;
}

.grey-medium {
    background: #909090;
}

.grey-white {
    background: #f6f2f2;
}

.black-light {
    background: #121212;
}

.lime-color {
    color: #97fb57;
}

.lime {
    background: #97fb57;
}

.lime-button {
    color: #97fb57;
    background: #121212;
    width: 300px;
    margin-top: 10px;
}

.lime-button:hover {
    background: #97fb57;
    color: #121212;
    width: 300px;
    margin-top: 10px;
}

.black-button {
    background: #97fb57;
    color: #121212;
    width: 300px;
    margin-top: 10px;
}

.black-button:hover {
    color: #97fb57;
    background: #121212;
    width: 300px;
    margin-top: 10px;
}

.join-button {
    background: #97fb57;
    color: #121212;
    width: 130px;
    margin-top: 5px;
}

.join-button:hover {
    color: #97fb57;
    background: #121212;
    width: 130px;
    margin-top: 5px;
}

.details-button {
    background: #121212;
    color: #97fb57;
    width: 130px;
    margin-top: 5px;
}

.details-button:hover {
    color: #121212;
    background: #97fb57;
    width: 130px;
    margin-top: 5px;
}

.spartan {
    font-family: 'Spartan', sans-serif;
}

.grotesk {
    font-family: 'Space Grotesk', sans-serif;
}